:root {
    --primary-color: #8E2424;
    --secondary-color: #667085;
    --color-black: #101828;
    --gray-200: #EAECF0;
    --Base-White: #FFFFFF;
    --font-family: "Inter", sans-serif;
    --space: 96px;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 80px
}

#logo img:hover {
    cursor: pointer;
}

#nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 16px;
    color: var(--secondary-color);
}

#nav-flex {
    display: flex;
    justify-content: space-between;
}

#nav-flex ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

#nav-flex a {
    line-height: 24px;
    color: var(--secondary-color);
    text-decoration: none;
}

#flex-pages li a:hover {
    color: #8E2424;
    border-bottom: 2px solid #8E2424;
    padding-bottom: 4px;

}

#nav-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 24px;
}

a#button-login:hover {
    color: #8E2424;
    cursor: pointer;
}

a#button-signup {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 18px;
}

a#button-signup:hover {
    border-color: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    color: var(--primary-color);
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 96px 0;
    align-self: stretch;
}

span.etiqueta {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

header h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    color: var(--color-black);
    letter-spacing: -0.96px;
}

header p {
    color: var(--secondary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 792px;
    text-align: center;
}

#metricas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding-bottom: var(--space);
}

#metricas .card .numero {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}

#metricas .card p.titulo {
    color: var(--color-black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#metricas .card p.descricao {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vagas .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

#vagas .conteudo .etiqueta {
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(142, 36, 36, 0.05);
}

#vagas .conteudo h2,
#depoimentos h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: var(--color-black);
    letter-spacing: -0.72px;
    text-align: center;
}

#vagas .conteudo p {
    color: var(--secondary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 792px;
    text-align: center;
}

#vagas .vagas-img {
    margin-top: 64px;
    margin-bottom: 96px;
}

#vagas .vagas-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#area {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 96px;
}

#area .conteudo-vaga {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 32px;
}

#area h3.vaga-tipo {
    color: var(--color-black);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#area .vagas-relacionadas {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 24px;
}

#area .vaga-tipo {
    color: var(--color-black);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#area .vagas-relacionadas .vaga {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200);
    background: var(--Base-White);
}

span.titulo-vaga {
    color: var(--color-black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#area .vagas-relacionadas .vaga .informacoes {
    display: flex;
    gap: 24px
}

#area .vagas-relacionadas .vaga .informacoes span {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#depoimentos {
    display: flex;
    padding: 64px;
    border-radius: 16px;
    background: rgba(195, 25, 25, 0.03);
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: var(--space);
}

#depoimentos .texto,
#depoimentos .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#depoimentos .avatar img {
    width: 56px;
}

#depoimentos .avatar .nome-funcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#depoimentos .avatar .nome-funcao span.nome-avatar {
    color: var(--color-black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

#depoimentos .avatar .nome-funcao span.funcao-avatar {
    color: var(--secondary-color);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}